body{
    margin:0;
}
.box{
    border-radius: 5px;
    border: 1px solid grey;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 400px;
    min-height: 175px;
}

h2{
    background-color: lightgray;
    margin-top: 0;
    padding: 10px;
}

.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color:white;
    background-color: black;
    margin:0;
    padding: 50px;
    text-align: center;
    font-size: 40px;
}

.search{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

